$black-main: #333333;
$black-dark: #101010;

$blue-main: #0076c0;
$blue-secondary: #01aceb;
$blue-dark: #01589c;

$red-main: #d60000;

$green-main: #1dd75f;

$gray-main: #9a9a9a;
$gray-light: #f6f6f6;
$gray-secondary: #faf7f7;

$white: #ffffff;
